body {
    background-color: #EDE8F3;
    color: #950198;
    font-size: 14px;
    font-family: 'Lucida Grande', 'Segoe UI', 'Droid Sans', Verdana, Arial, sans-serif;
    margin: 16px;
    padding: 0;
    background-image: url(../img/free-vector-girly-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

header, section, footer {
    max-width: 900px;
    margin: 0 auto 24px;
}

footer {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em;
}

h1 {
    font-family: 'French Script MT', 'Tempus Sans ITC', 'Bradley Hand ITC', cursive;
    font-size: 34px;
    text-transform: capitalize;
}

h1 small {
    font-family: 'Lucida Grande', 'Segoe UI', 'Droid Sans', Verdana, Arial, sans-serif;
    display: block;
    font-size: 14px;
    color: #9898B5;
    text-transform: lowercase;
    line-height: 24px;
    font-weight: 200;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    margin: 0 0 14px;
    line-height: 24px;
}

a {
    color: #7147E2;
    padding: 0 .2em;
    border-radius: .2em;
}

a:hover,
a:active {
    text-decoration: none;
}

a:hover {
    color: #691D71;
    background-color: #FBBFFF;
}

a:active {
    color: #FBBFFF;
    background-color: #691D71;
}

section h2 {
    background-color: #FBBFFF;
    margin: 0;
    padding: 10px 16px;
}

section h2 {
    border-radius: 8px 8px 0 0;
}

form {
    background-color: #FEEFFF;
    border-radius: 0 0 8px 8px;
}

fieldset {
    border: 0;
    padding: 16px 16px 2px;
    margin: 0;
}

input {
    font-family: 'Courier New', monospace;
    background-color: #FDFDFD;
    margin: 0 0 1em;
    padding: 5px 10px;
    font-size: 14px;
    color: #BB00C7;
    outline: none;
    border: solid 2px #FBBFFF;
    border-radius: 8px;
    min-width: 220px;
}

input:focus {
    border-color: #F483FF;
}

em {
    padding: .2em .75em;
    background-color: #FBBFFF;
    font-style: normal;
    border-radius: 16px;
    margin-right: .25em;
}

img {
    border-radius: 100px;
}

.ng-dirty.ng-invalid {
    border-color: #FD5A5A;
}

.ng-dirty.ng-valid {
    border-color: #49E8B9;
}
